<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Restaurantes</title>
</head>
<body>
<h1 th:text="${mensaje}"></h1>
<p th:text = "|${#lists.size(restaurantes)} resultados|"></p>
<ol>
    <li th:each = "restaurant : ${restaurantes}">
        <span th:text = "${restaurant.name}"></span>
        <span th:text = "${restaurant.averagePrice}"></span>
        <!-- agregar enlace para ver restaurante -->
        <a th:href="@{/restaurantes/{id}(id=${restaurant.id})}">
                Ver restaurante
        </a>

    </li>
</ol>

</body>
</html>